<p class="{{addictedClass}} message message_content_text message_source_{{source}}">
		{{{content}}}
		<span class="message__data {{#if
			status}} message__data_status_{{status}} {{/if}} message__data_type_text-{{source}}">{{time}}</span>
</p>
