<div class="page">
	<main class="profile">
		<nav class="profile__side-bar side-bar">
			{{{MessangerLink}}}
		</nav>
		<div class="profile__content">
			{{{AvatarChangeButton}}}
			{{{name}}}
			{{{EditProfileForm}}}
			{{{EditPasswordForm}}}
			{{{ProfileActions}}}
		</div>
	</main>
	{{{changeAvatarPopup}}}
</div>
