<main class="profile">
	<nav class="profile__side-bar side-bar">
		{{{MessangerLink}}}
	</nav>
	<div class="profile__content">
		{{{AvatarChangeButton}}}
		<h2 class="profile__name">{{name}}</h2>
		{{{EditProfileForm}}}
		{{{EditPasswordForm}}}
		{{{ProfileActions}}}
	</div>
</main>
