<div class="page">
	<main class="messanger">
		<div class="messanger__side-bar side-bar">
			{{{ProfileLink}}}
			{{{ChatsSearchForm}}}
			{{{ChatsActions}}}
			{{{ChatsList}}}
		</div>
		{{{ChatWindow}}}
	</main>
	{{{AddImagePopup}}}
	{{{AddUserPopup}}}
	{{{RemoveUserPopup}}}
	{{{AddChatPopup}}}
</div>
