<label class='{{block}}__field'>
	<label for='{{id}}' class='{{block}}__label'>{{label}}</label>
	<input
		class='{{block}}__input'
		name='{{name}}'
		type='{{type}}'
		id='{{id}}'
		{{{otherAtributes}}}
	/>
</label>
