<div class="{{addictedClass}} message message_content_image">
	<img width="auto" height="auto" src="{{src}}" alt="media-message">
	<span class="message__data message__data_type_image-{{source}} {{#if
		status}} message__data_status_{{status}} {{/if}}">{{time}}</span>
</div>
