<main class="messanger">
	<div class="messanger__side-bar side-bar">
		{{{ProfileLink}}}
		{{{ChatsSearchForm}}}
		{{{ChatsList}}}
	</div>
	{{#if CurrentChat}}
		{{{CurrentChat}}}
	{{else}}
		<div class="messanger__chat-window chat-window">
			<p class="chat-window__default-message">Выберите чат чтобы отправить сообщение</p>
		</div>
	{{/if}}
</main>
